<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <nav class="nav pull-right">
        <% if signed_in? %>
          <ul>
            <a><%= link_to "Facilities", facilities_path %></a>
            <a><%= link_to "My Dashboard", user_path(:id) %></a>
            <a><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></a>
          </ul>
        <% else %>
            <li><%= link_to "Log In | Register", new_user_session_path %></li>
        <% end %>
    </nav>
  </div>
</header>
